# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
.env

# Node
node_modules/
.npm
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Project specific
*.db
logs/
temp_*.jpg
*_processed.jpg
frontend_archive/
frontend_react/

# Flask specific
instance/
.webassets-cache

# Virtual Environment
venv/
ENV/

# Uploads folder (temporary files)
uploads/

# Custom files and folders
gemma.txt
paddle_mistral_report_V2.md
paddle_mistral_report.md
paddle_model_comparisons.txt
paddle_qwen.md
paddle_V3_Qwen_OCR.md
paddleOCR.txt
pdf_extraction_payslip.py
report.md
qwen2_5_vl_7b_sliding_window_ocr.py

Z_reports/
model_cache/

# PyPI package files
pypi_package/
pypi_package/qwen_payslip_processor/model_files/

# PayslipExtract test project
PayslipExtract/
PayslipExtract/uploads/
PayslipExtract/saved_configs/